<h1>Here is your order. Please review</h1>
<table>
	<tr>
		<th>Title</th>
		<th>ISBN</th>
		<th>Quantity</th>
	</tr>
	<% book_array.each do |book| %>
	<tr>
		<td><%=book['title']%></td>
		<td><%=book['isbn']%></td>
		<td><%=total_ordered[0]%></td>
	</tr>
	<%end%>
</table>

<form method='post' action='confirm_order'>
	<button type='submit'>Confirm Order</button>
</form>