<h1> Book Search </h1>

<!-- The below conditional is used to show weather we have someone signed in. the variable user if not an empty string will show us the search bar and our button to view our cart. Else user is an empty string and will show us the login and create account buttons. -->
<% if user != '' %>
<p>Please enter the book title to search</p>


	<form method='post' action="search">
		<input type="text" name="title_isbn">
		<button type='submit'>Submit</button>
	</form>
	<form method="post" action="view_cart">
		<button type='submit'>Cart</button>
	</form>
<% else %>
	<form method="post" action="login">
		<button type='submit'>Login</button>
	</form>
	<form method="post" action="create">
		<button type='submit'>Create Account</button>
	</form>
	
<%end%>
